body{
    margin: 0;
    font-family: 'Oswald', sans-serif;

}
h1{
    font-size: 40px;
}
 #top-banner{
   display: flex;
   margin-bottom: 40px;
 }
 .flex-container{
     width:50%;
     padding-left: 50px;
     padding-right: 30px;
 }
.flex{
    padding-top: 70px;
    margin-left: 10%;
}
 .image1{
     width:80%;
 }
 .flex-container h1,p{
     color:gray;
 }
 .flex-container p{
     margin-bottom: 80px;
 }
 .skip{
     color:orange;
 }
 .link{
     background-image: linear-gradient(orange, red);
     text-decoration: none;
     color:white;
     font-weight: bold;
     border-radius: 30px;
     padding:10px 40px;
     box-shadow: 2px 4px 10px tomato;
 }
.about_me{
    background-image: url("Images/7.png");
    background-repeat: no-repeat;
    display: flex;
    margin-bottom: 50px;
}
.about_me h2{
    color:gray;
    margin-top: 80px;
}
.about_me p{
    margin-bottom: 40px;
}
.image2{
    margin-left: 200px;
    width: 30%;
    height: 85%;
    margin-top: 50px;
}

.my_recipe{
   text-align: center;
   margin-left: 25%;
   margin-right: 25%;
   margin-bottom: 20px;
}
.my_recipe h2{
    color:gray;
}
.flex-recipe{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.recipe-item{
    width: 25%;
    margin: 10px;
    border: 20px solid white;
    box-shadow: 2px 5px 10px gray;
    border-radius: 20px;
}
.recipe-item img{
    width: 100%;
    height: 65%;
}
.recipe-item h3{
    font-weight: bold;
}
.extra_item_flex{
    display: flex;
    box-shadow: 5px 10px 30px gray;
    width: 90%;
    margin-left: 5%;
    margin-right:5%;
    margin-bottom: 40px;
    padding:20px;
}
.top{
    text-align: center;
}
.flex_item{
    padding-left: 15px;
    padding-right: 15px;
    width:30%;
    margin: 15px;
    box-shadow: 5px 10px 5px 5px gray;
    border-radius: 10px;
}
.flex_image{
    display: flex;
}
.flex_image img{
    width: 100px;
    height: 80px;
    margin-top: 22px;
    margin-left:60px;
}
.name{
    color: black;
    font-size: 15px;
    font-weight: bold;
}
footer{
    height: 150px;
    background-color: black;
    color:grey;
    text-align: center;
    padding-top: 10px;
}
.footer span{
    color:chocolate;
}
.footer p{
    color:white;
}